@model IEnumerable<TaxApp.Models.HistoryViewModel>

@{
    ViewData["Title"] = "List";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxType)
            </th>
    
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxType)
            </td>

        </tr>
}
    </tbody>
</table>
